In [1]:
import pandas as pd

In [13]:
people_data = pd.read_csv('../data/읍면동별_연령_각세__및_성별_한국인_현황__전체.csv',encoding='cp949',skiprows=1)
people_data.head()

,연령별(2),대저1동,대저2동,강동동,명지1동,명지2동,가락동,녹산동,가덕도동,서1동,...,좌4동,송정동,반여1동,반여2동,반여3동,반여4동,반송1동,반송2동,재송1동,재송2동
0,0세,8,34,4,756,185,1,292,7,2,...,91,36,134,43,9,63,19,30,153,61
1,1세,11,34,5,763,224,3,273,4,4,...,93,41,143,45,12,88,18,42,171,75
2,2세,12,37,5,859,274,3,358,11,5,...,111,33,155,49,14,105,25,65,213,70
3,3세,22,34,4,897,363,3,387,8,5,...,123,31,198,46,12,100,25,59,251,91
4,4세,15,48,12,1033,453,3,410,13,4,...,164,36,212,45,14,121,22,79,326,99

In [14]:
people_data = people_data.loc[20:40]
people_data

,연령별(2),대저1동,대저2동,강동동,명지1동,명지2동,가락동,녹산동,가덕도동,서1동,...,좌4동,송정동,반여1동,반여2동,반여3동,반여4동,반송1동,반송2동,재송1동,재송2동
20,20세,35,50,22,276,276,12,196,18,40,...,309,54,457,84,77,160,110,185,336,218
21,21세,36,57,23,349,239,9,251,23,37,...,283,70,431,109,92,182,144,231,451,259
22,22세,39,81,20,329,245,8,246,33,36,...,307,77,477,111,80,181,143,191,429,273
23,23세,59,70,34,339,232,14,307,30,35,...,267,93,412,112,91,175,127,194,389,233
24,24세,59,75,25,368,218,13,312,32,50,...,265,94,382,119,84,166,145,204,417,270
25,25세,53,79,31,408,223,15,351,30,50,...,272,115,370,140,106,190,137,206,429,302
26,26세,51,95,32,500,207,18,422,35,53,...,268,112,382,151,89,204,167,222,415,314
27,27세,69,90,23,514,240,19,447,30,53,...,259,135,341,140,82,183,146,210,349,318
28,28세,60,88,36,595,209,20,481,42,45,...,230,134,355,136,90,167,147,226,379,335
29,29세,76,116,45,756,270,25,547,41,45,...,248,154,319,152,93,184,161,228,386,330
30,30세,65,113,36,860,281,25,578,35,49,...,253,142,359,124,88,175,126,215,374,318
31,31세,73,100,44,889,241,17,580,34,48,...,252,117,286,137,94,157,109,165,345,319
32,32세,52,98,41,1029,301,22,621,42,42,...,270,111,321,155,60,185,100,174,341,285
33,33세,59,101,38,1182,308,25,635,41,45,...,235,128,298,167,57,185,92,177,334,261
34,34세,64,92,24,1182,357,10,609,26,24,...,262,104,300,118,69,161,97,173,366,210
35,35세,44,85,22,1283,365,12,648,34,27,...,194,97,304,141,70,163,84,156,341,227
36,36세,33,85,25,1402,418,16,709,42,44,...,187,110,329,134,60,172,88,153,415,233
37,37세,54,75,29,1391,516,14,735,44,39,...,241,112,348,150,51,182,104,152,454,247
38,38세,45,81,34,1553,652,21,782,36,26,...,243,111,362,133,69,208,114,196,556,275
39,39세,50,92,27,1639,777,20,898,49,42,...,292,112,407,161,89,213,119,196,629,297
40,40세,67,84,33,1737,830,11,996,38,61,...,287,163,476,139,104,252,124,231,699,329

In [15]:
people_data.drop(columns=['연령별(2)'],inplace=True)
people_data.head()

,대저1동,대저2동,강동동,명지1동,명지2동,가락동,녹산동,가덕도동,서1동,서2동,...,좌4동,송정동,반여1동,반여2동,반여3동,반여4동,반송1동,반송2동,재송1동,재송2동
20,35,50,22,276,276,12,196,18,40,58,...,309,54,457,84,77,160,110,185,336,218
21,36,57,23,349,239,9,251,23,37,78,...,283,70,431,109,92,182,144,231,451,259
22,39,81,20,329,245,8,246,33,36,98,...,307,77,477,111,80,181,143,191,429,273
23,59,70,34,339,232,14,307,30,35,84,...,267,93,412,112,91,175,127,194,389,233
24,59,75,25,368,218,13,312,32,50,90,...,265,94,382,119,84,166,145,204,417,270

In [20]:
age_dic = {}

for ages in people_data:
    age_dic[ages] = sum(people_data[ages])

print(len(age_dic.keys()))

205

In [24]:
age_data = pd.DataFrame({'동별':age_dic.keys(), '20~40대 인구 수':age_dic.values()})
age_data.head()

     동별  20~40대 인구 수
0  대저1동         1143
1  대저2동         1807
2   강동동          644
3  명지1동        18581
4  명지2동         7405

In [25]:
age_data.to_csv('../data/total_data/타겟층_인구_수.csv',encoding='cp949')