In [2]:
import os
import sys
import urllib.request
import datetime
import time
import json
import pandas as pd
import pymysql

In [6]:
lodging = pd.read_csv('../data/부산광역시_숙박업.csv',encoding='utf-8')
lodging.head()

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,조건부허가시작일자,조건부허가종료일자,건물소유구분명,세탁기수,여성종사자수,남성종사자수,회수건조수,침대수,다중이용업소여부,Unnamed: 50
0,1,숙박업,03_11_03_P,3250000,3250000-214-2019-00001,20190325,NaN,1,영업/정상,1,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,N,NaN
1,2,숙박업,03_11_03_P,3250000,3250000-214-2019-00002,20190902,NaN,1,영업/정상,1,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,N,NaN
2,3,숙박업,03_11_03_P,3250000,3250000-201-1974-00105,19740810,NaN,1,영업/정상,1,...,NaN,NaN,임대,0.0,NaN,NaN,0.0,0.0,N,NaN
3,4,숙박업,03_11_03_P,3250000,3250000-201-1970-00116,19700828,NaN,1,영업/정상,1,...,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,N,NaN
4,5,숙박업,03_11_03_P,3250000,3250000-201-2013-00002,20130501,NaN,1,영업/정상,1,...,NaN,NaN,자가,0.0,NaN,NaN,0.0,0.0,N,NaN

In [9]:
lodging.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '건물지상층수', '건물지하층수', '사용시작지상층', '사용끝지상층', '사용시작지하층', '사용끝지하층',
       '한실수', '양실수', '욕실수', '발한실여부', '좌석수', '조건부허가신고사유', '조건부허가시작일자',
       '조건부허가종료일자', '건물소유구분명', '세탁기수', '여성종사자수', '남성종사자수', '회수건조수', '침대수',
       '다중이용업소여부', 'Unnamed: 50'],
      dtype='object')

In [30]:
usedata = lodging.loc[:,['영업상태명','업태구분명','소재지전체주소','좌표정보(x)', '좌표정보(y)']]
usedata.head()

   영업상태명    업태구분명                     소재지전체주소        좌표정보(x)        좌표정보(y)
0  영업/정상  숙박업(생활)       부산광역시 중구 남포동6가 95-1번지  384750.181192  179577.979682
1  영업/정상  숙박업(생활)        부산광역시 중구 신창동3가 5-5번지  384920.980936  179988.388815
2  영업/정상      여관업       부산광역시 중구 남포동5가 77-2번지  385011.695024  179500.445440
3  영업/정상      여관업    부산광역시 중구 부평동1가 41-7번지 ,8  384716.509602  179643.763677
4  영업/정상     일반호텔  부산광역시 중구 중앙동4가 81-8번지 외1필지  385707.828676  180730.545161

In [31]:
usedata.to_csv('../data/부산광역시_숙박업_handling.csv',encoding='utf-8')