In [1]:
import pandas as pd

In [66]:
from matplotlib import rc
import matplotlib.font_manager as fm
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator
import numpy as np


# 한글 폰트 설정
plt.rc('font', family='Malgun Gothic')
sns.set(font='Malgun Gothic', rc={'axes.unicode_minus':False}, style='darkgrid')

In [5]:
df = pd.read_csv('../data/total_data/부산상권정보.csv',encoding='cp949',index_col=0)
df

        행정동명   상권업종중분류명         위도          경도
0        부평동  모텔/여관/여인숙  35.100979  129.023668
1        복산동     닭/오리요리  35.205267  129.087156
2       남천2동       의복의류  35.143770  129.115397
3       개금1동         한식  35.151645  129.024938
4        당리동         사진  35.102905  128.974794
...      ...        ...        ...         ...
152896   우암동        대행업  35.127425  129.068730
152897   기장읍       의복의류  35.192230  129.212806
152898  괴정4동     커피점/카페  35.100133  128.984281
152899  만덕1동       주택수리  35.214022  129.041703
152900   우2동        대행업  35.173039  129.129881

[152901 rows x 4 columns]

In [6]:
df.상권업종중분류명.unique()

array(['모텔/여관/여인숙', '닭/오리요리', '의복의류', '한식', '사진', '가정/주방/인테리어', '유흥주점',
       '물품기기대여', '선물/팬시/기념품', '이/미용/건강', '음/식료품소매', '커피점/카페', '학원-어학',
       '자동차/자동차용품', '실내운동시설', '사무/문구/컴퓨터', '세탁/가사서비스', '자동차/이륜차',
       '운동/경기용품소매', 'PC/오락/당구/볼링등', '양식', '종합소매점', '중식', '학원-보습교습입시',
       '패스트푸드', '부동산중개', '사진/광학/정밀기기소매', '무도/유흥/가무', '철물/난방/건설자재소매',
       '주유소/충전소', '개인서비스', '의약/의료품소매', '주택수리', '분식', '학원-음악미술무용', '학원기타',
       '도서관/독서실', '페인트/유리제품소매', '일식/수산물', '가전제품소매', '화장품소매', '가방/신발/액세서리',
       '예술품/골동품/수석/분재', '가구소매', '대중목욕탕/휴게', '스포츠/운동', '시계/귀금속소매', '유아교육',
       '건강/미용식품', '기타판매업', '호텔/콘도', '중고품소매/교환', '책/서적/도서', '캠프/별장/펜션',
       '개인/가정용품수리', '별식/퓨전요리', '요가/단전/마사지', '인력/고용/용역알선', '제과제빵떡케익',
       '학문교육기타', '운송/배달/택배', '기타음식업', '광고/인쇄', '학원-예능취미체육', '분양',
       '취미/오락관련소매', '연극/영화/극장', '예식/의례/관혼상제', '부페', '유아용품', '법무세무회계',
       '기타서비스업', '경마/경륜/성인오락', '실외운동시설', '운영관리시설', '애견/애완/동물', '대행업',
       '학원-컴퓨터', '민박/하숙', '평가/개발/관리', '학원-자격/국가고시', '학원-창업취업취미',
       '놀이/여가/취미', '음식배달서비스', '장례/묘지', '행사/이벤트', '종교용품판매', '유스호스텔'],
      dtype=object)

In [9]:
use = ['운동/경기용품소매','종합소매점','개인서비스','건강/미용식품','기타판매업','중고품소매/교환', '제과제빵떡케익', '운송/배달/택배', '광고/인쇄',  '취미/오락관련소매', '유아용품','부동산중개',  '법무세무회계', '대행업','평가/개발/관리', '행사/이벤트', '종교용품판매', '놀이/여가/취미','의복의류','화장품소매', '가방/신발/액세서리',  '시계/귀금속소매','사진', '가전제품소매', '사무/문구/컴퓨터', '유아교육',  '학원-보습교습입시','학원-음악미술무용', '학원기타', '도서관/독서실', '책/서적/도서','학문교육기타','학원-예능취미체육', '학원-컴퓨터', '학원-자격/국가고시']

In [63]:
get_dataframe = pd.DataFrame(columns=['행정동명','상권업종중분류명','위도','경도'])

for idx in range(len(list(df.상권업종중분류명))):
    if df.상권업종중분류명[idx] in use:
        get_dataframe.loc[idx] = list(df.loc[idx])
        # break

get_dataframe.head()

    행정동명   상권업종중분류명         위도          경도
2   남천2동       의복의류  35.143770  129.115397
4    당리동         사진  35.102905  128.974794
16   광복동       의복의류  35.101318  129.029430
23  전포1동       의복의류  35.157050  129.063037
26   중앙동  사무/문구/컴퓨터  35.099991  129.037015

In [65]:
get_dataframe.to_csv('../data/total_data/부산상권정보_handling.csv',encoding='cp949')

In [68]:
dong_list = get_dataframe.행정동명.unique()

In [70]:
dong_list[0]

'남천2동'

In [75]:
len(get_dataframe.행정동명[get_dataframe.행정동명 == dong_list[0]])

264

In [103]:
get_dataframe.iloc[0]

행정동명              남천2동
상권업종중분류명          의복의류
위도            35.14377
경도          129.115397
Name: 2, dtype: object

In [110]:
dong = {}

for idx in range(len(get_dataframe)):
    com = get_dataframe.iloc[idx]['행정동명']
    if com in dong.keys():
        dong[com] += 1
    else:
        dong[com] = 1
    
dong

{'남천2동': 264,
 '당리동': 412,
 '광복동': 985,
 '전포1동': 597,
 '중앙동': 734,
 '금곡동': 236,
 '동삼1동': 267,
 '연지동': 182,
 '개금3동': 211,
 '온천3동': 312,
 '부곡4동': 81,
 '다대2동': 246,
 '문현1동': 145,
 '괴정1동': 234,
 '초읍동': 220,
 '대청동': 140,
 '수영동': 303,
 '가야1동': 202,
 '범일2동': 1575,
 '청학2동': 135,
 '개금1동': 240,
 '부전1동': 973,
 '구서1동': 296,
 '중1동': 508,
 '정관읍': 931,
 '좌1동': 438,
 '화명3동': 393,
 '영선1동': 111,
 '다대1동': 345,
 '금사회동동': 182,
 '초량1동': 102,
 '장전2동': 422,
 '수정2동': 138,
 '민락동': 399,
 '부전2동': 1642,
 '사직2동': 288,
 '범천1동': 894,
 '주례3동': 155,
 '괴정3동': 324,
 '당감4동': 124,
 '동대신3동': 83,
 '덕천3동': 65,
 '용호4동': 80,
 '서3동': 179,
 '하단2동': 440,
 '연산2동': 173,
 '남항동': 170,
 '연산9동': 313,
 '덕천2동': 306,
 '반송1동': 159,
 '괘법동': 653,
 '명지1동': 637,
 '명장2동': 121,
 '당감2동': 58,
 '장림2동': 302,
 '주례1동': 123,
 '광안1동': 274,
 '화명2동': 143,
 '구포1동': 296,
 '하단1동': 374,
 '기장읍': 897,
 '대저1동': 251,
 '우암동': 94,
 '만덕3동': 140,
 '서2동': 102,
 '초량3동': 232,
 '명지2동': 325,
 '재송2동': 225,
 '봉래1동': 157,
 '남포동': 391,
 '우3동': 409,
 '연산5동': 255,
 '범일1동': 114,
 '안락2동': 327,
 '수민동': 370,
 '녹산동': 539,
 '좌2동': 503,
 '남산동': 386,
 '온천2동': 501,
 '용호1동': 469,
 '우2동': 1586,
 '전포2동': 297,
 '문현3동': 152,
 '망미1동': 289,
 '양정1동': 299,
 '감전동': 427,
 '부평동': 370,
 '남천1동': 541,
 '대연1동': 270,
 '감만2동': 51,
 '수정1동': 38,
 '덕천1동': 135,
 '재송1동': 455,
 '괴정4동': 185,
 '망미2동': 105,
 '남부민2동': 42,
 '엄궁동': 284,
 '광안4동': 175,
 '반여4동': 95,
 '구포3동': 119,
 '모라1동': 362,
 '주례2동': 201,
 '신평1동': 222,
 '반여3동': 99,
 '부곡3동': 211,
 '가야2동': 182,
 '좌3동': 147,
 '서대신4동': 40,
 '반여1동': 429,
 '광안3동': 140,
 '부곡2동': 171,
 '연산1동': 206,
 '사직1동': 212,
 '암남동': 124,
 '거제3동': 119,
 '용당동': 103,
 '장림1동': 202,
 '대연3동': 561,
 '장전1동': 219,
 '구서2동': 391,
 '양정2동': 235,
 '연산4동': 205,
 '충무동': 181,
 '온천1동': 318,
 '삼락동': 114,
 '복산동': 169,
 '부민동': 74,
 '철마면': 66,
 '학장동': 303,
 '좌4동': 236,
 '반송2동': 219,
 '아미동': 33,
 '서대신1동': 164,
 '사직3동': 177,
 '초량6동': 59,
 '대연5동': 280,
 '괴정2동': 154,
 '연산8동': 133,
 '감만1동': 113,
 '서1동': 60,
 '안락1동': 210,
 '연산3동': 64,
 '화명1동': 221,
 '용호3동': 186,
 '신선동': 42,
 '광안2동': 285,
 '당감1동': 230,
 '덕포2동': 160,
 '대저2동': 309,
 '부암3동': 159,
 '강동동': 144,
 '청학1동': 81,
 '좌천동': 79,
 '부곡1동': 90,
 '보수동': 155,
 '초장동': 19,
 '범천2동': 161,
 '동대신2동': 72,
 '영선2동': 87,
 '명륜동': 314,
 '동삼3동': 40,
 '만덕2동': 195,
 '거제1동': 301,
 '남부민1동': 49,
 '장안읍': 219,
 '거제2동': 149,
 '명장1동': 164,
 '구평동': 119,
 '대연6동': 156,
 '송정동': 166,
 '구포2동': 225,
 '반여2동': 185,
 '동대신1동': 70,
 '동삼2동': 40,
 '영주2동': 47,
 '대연4동': 126,
 '수정4동': 35,
 '부암1동': 183,
 '문현4동': 115,
 '우1동': 388,
 '문현2동': 110,
 '용호2동': 166,
 '청룡노포동': 80,
 '동광동': 80,
 '초량2동': 102,
 '만덕1동': 164,
 '덕포1동': 95,
 '감천1동': 186,
 '일광면': 266,
 '가락동': 65,
 '모라3동': 38,
 '영주1동': 62,
 '감천2동': 45,
 '범일5동': 31,
 '신평2동': 177,
 '중2동': 168,
 '가덕도동': 63,
 '서대신3동': 108,
 '선두구동': 47,
 '연산6동': 135,
 '금성동': 14,
 '거제4동': 60,
 '수정5동': 35,
 '봉래2동': 30,
 '개금2동': 55}

In [115]:
len(dong.keys()), len(dong.values())

(205, 205)

In [122]:
dong_dataframe = pd.DataFrame({'동 이름':dong.keys(),'업장 수':dong.values()})
dong_dataframe

     동 이름  업장 수
0    남천2동   264
1     당리동   412
2     광복동   985
3    전포1동   597
4     중앙동   734
..    ...   ...
200   금성동    14
201  거제4동    60
202  수정5동    35
203  봉래2동    30
204  개금2동    55

[205 rows x 2 columns]

In [123]:
dong_dataframe.to_csv('../data/total_data/행정동별_업장의_수.csv',encoding='cp949')